.profile__edit-button {
   
  width: 24px;
  height: 24px;
  background-color: #000;
  border: 1px solid #fff;
  background-image: url(../../../images/Edit\ Button.svg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  cursor: pointer;
  align-self: end;
  margin-left: 18px;
}












/**
@media screen and (max-width: 768px) {
  .header {
    padding-right: 24px;
    padding-left: 24px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding-right: 16px;
    padding-left: 16px;
  }
}
