.profile__add-button {
  width: 150px;
  height: 50px;
  background-color: #000;
  border: 2px solid #fff;
  background-image: url(../../../images/Add\ Button.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  justify-self: end;
  margin-left: auto;
  padding: 0;
}

.profile__add-button:hover {
  transition: opacity 0.3s; /* Добавляем плавный переход для изменения прозрачности */
  opacity: 0.6; /* Изменяем прозрачность при наведении */
}

@media screen and (max-width: 700px) {
  .profile__add-button {
    margin: 36px auto;
    width: 282px;
    background-image: url(../../../images/Add\ Buttonbig.svg);
  }
}
