.popup__close {

 position: absolute;
 top: -40px; /* Отступ сверху на 8 пикселей */
  left: 438px; /* Отступ слева на 8 пикселей */

 width: 32px;
 height: 32px;
 background-color: rgba(0, 0, 0, 0);
 border: 0; 
 background-image: url(../../../images/Close\ Icon2.svg);
 background-position: center;
 background-repeat: no-repeat;
 cursor: pointer;


}

 




/**
@media screen and (max-width: 768px) {
  .header {
    padding-right: 24px;
    padding-left: 24px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding-right: 16px;
    padding-left: 16px;
  }
}
