.popup__close {
  background-image: url(../../../images/Close\ Icon2.svg);

  position: absolute;
  padding: 0;
  width: 32px;
  height: 32px;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0);

  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(40px, -40px);
  border: none;
  cursor: pointer;
}

.popup__close:hover {
  transition: opacity 0.3s; /* Добавляем плавный переход для изменения прозрачности */
  opacity: 0.6; /* Изменяем прозрачность при наведении */
}

@media screen and (max-width: 590px) {
  .popup__close {
    background-image: url(../../../images/Close\ Icon3.svg);
    width: 20px;
    height: 20px;
    top: -36px;
    left: calc(282px - 20px);
    transform: translate(0, 0);
  }
}
