.profile__name {
  color: #fff;
  font-family: Inter;
  font-size: 42px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px; /* 114.286% */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  max-width: 305px;
  flex-shrink: 0;
}

@media screen and (max-width: 945px) {
  .profile__name {
    font-size: 27px;
    line-height: normal;
    max-width: 250px;
  }
}

@media screen and (max-width: 440px) {
  .profile__name {
    font-size: 27px;

    line-height: normal;
    margin: 0 auto 0 auto;
  }
}
