.popup__image {
  position: relative;
  max-height: 75vh; /* Максимальная высота вьюпорта */
  max-width: 75vw; /* Максимальная ширина вьюпорта */
  width: auto; /* Автоматическая ширина для поддержки соотношения сторон */
  height: auto;

}

