.profile__avatar {
  width: 120px;
  height: 120px;
  object-fit: cover; /* Это свойство позволяет сохранить пропорции и окружить изображение эллипсом */
  top: 159px;
  left: 200px;
  border-radius: 50%; /* Создает эллиптическую обводку */
  margin: 0;
}

@media screen and (max-width: 700px) {
  .profile__avatar {
    margin: 0 auto;
  }
}
