.footer {

  max-width: 880px;
  margin: 0 auto;

padding: 67px 0 60px 0;
}








/**
@media screen and (max-width: 768px) {
  .header {
    padding-right: 24px;
    padding-left: 24px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding-right: 16px;
    padding-left: 16px;
  }
}
